{% extends 'layout.twig' %}

{% block content %}
  <div class="uk-container uk-container-expand">
    <ul class="uk-breadcrumb">
      <li class="uk-disabled"><a>Mon compte</a></li>
      <li><span>Paramètres</span></li>
    </ul>
    <div id="content" class="uk-card uk-card-default uk-card-body">
      <h1 class="uk-card-title">Paramètres</h1>
      <span></span>
      <hr class="uk-margin-medium-bottom">
      <form class="uk-form-horizontal uk-margin-medium">

        <br class="uk-visible@m">
        <button class="uk-button uk-button-secondary uk-width-1-1" type="submit">Éditer</button>
      </form>
    </div>
  </div>
{% endblock %}